<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Regist Form</h1>
    <hr>
    <form action="/regist" method="post">
        <input type="text" name="name" placeholder="Input name..." ><br>
        <input type="text" name="country" placeholder="Input country..."><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>