<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Form</h1>
    <hr>
    <h2>조회</h2>
    <form action="user" method="get">
        name : <input type="text" name="name" ><br>
        <input type="submit" value="조회">
    </form>
    <hr>
    <form action="regist" method="post">
        name : <input type="text" name="name" ><br>
        country: <input type="text" name="country"><br>
        <input type="submit" value="등록">
    </form>
</body>
</html>